.OP {
  margin-top: 3rem;
  background-image: url("bg6.webp");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
}
.OP .down {
  background-image: url("bg1.webp");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 30px;
  height: 80%;
  z-index: 2;
  padding: 5rem;
  color: #ffff;
  font-weight: 400;

  position: relative;
  font-size: 1.2rem;

  left: 6%;
}
.OP .down h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}
.OP p {
  font-weight: 400;
}
.OP .img5 {
  height: 80%;
  margin-right: 8rem;
}
.OP .down .flex {
  justify-content: start;
}
.OP .down .flex button {
  width: 10rem;
}
@media (max-width: 800px) {
  .OP {
    display: block;
    height: 100%;
  }
  .OP .down {
    position: static;
  }
  .OP .img5 {
    margin-right: 0;
    z-index: -1;
    padding: 2rem;
    width: 100%;
    height: 100%;
  }
}
