/* .card {
  padding-top: 48px;
  background-image: url("pt-bg.webp");
  background-position: top center;
  height: 100vh;
}
.card-row {
  display: flex;
}
.card-column {
  display: flex;
  justify-content: center;
}
.card-column-1 {
  background-image: url("Card.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
}
.card-column-2 {
  background-image: url("Card.jpg");
  background-repeat: no-repeat;
} */
.card-background {
  background-image: url("pt-bg.webp");
  background-size: cover;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 7rem;
  padding-top: 7.2rem;
}
.grid-card.start {
  justify-self: end;
}
.grid-card.end {
  justify-self: start;
}
.grid-card {
  /* position: relative; */
  overflow: hidden;

  border-radius: 2rem;
}
.grid-card p {
  display: none;
}
.grid-card .cardText {
  color: #fff;
  position: absolute;
  top: 50%;
  left: calc(45% + 1rem);
  z-index: 999;
}
.grid-card img {
  width: 100%;
  height: 100%;

  padding: 0rem;
}
/* .grid-card img {
} */
.grid-card:hover img {
  scale: 1.2;
  transition: all 0.5s ease-in-out;
  transition-duration: 0.5s;
}
@media (max-width: 800px) {
  .card {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .grid-card {
    justify-self: center !important;
  }
  .grid-card img {
    width: 60%;
  }
}
