.messiShop .backgoundShopAll {
  background-image: url("../../../public/img/0M8A7214_1800x.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
}
.imgHeader {
  bottom: 3rem;
}

.details {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.details {
  display: flex;
}
.divImg {
  top: 0;

  z-index: -1;
  object-position: center;
}
.headerImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-attachment: fixed;
}
/* .width {
  height: 50vh;
  width: 100%;
} */
.imgHeader a {
  color: #ffff;
  text-decoration: none;
}
.imgHeader a:hover {
  color: var(--colorBtnPrimary);
}
.imgHeader {
  margin: 3rem;

  color: #ffff;
}
.imgHeader h1 {
  margin: 0;
  font-size: 3rem;
}
@media (max-width: 1000px) {
  .imgHeader a,
  .imgHeader h1 {
    display: block;
    color: black;
  }
  .messiShop .backgoundShopAll {
    background-image: none;
  }
}
